{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                {% if page.banner_title %}
                <h1 class="display-4">{{ page.banner_title }}</h1>
                {% else %}
                <h1 class="display-4">{{ page.title }}</h1>
                {% endif %}
                
                {% if page.banner_subtitle %}
                <p class="lead">{{ page.banner_subtitle }}</p>
                {% endif %}
                
                <hr class="my-4">
                
                {% if page.body %}
                <div class="body-content">
                    {{ page.body|richtext }}
                </div>
                {% else %}
                <div class="body-content">
                    <p>Welcome to your new Wagtail site!</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
